@use 'reset';
@use '../scss/vars';
@use '../scss/buttons';
@use '../scss/icons';

@font-face {
    font-family: 'IconFont';
    src: url('/assets/fonts/icon-font.woff2') format('woff2'),
         url('/assets/fonts/icon-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: var(--offWhite);
    color: var(--offBlack);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFontFamily);
}

body {
    font-family: var(--bodyFontFamily);
}

main {
    background-color: var(--primaryGreenDarken50);
}

header {
    background-color: var(--primaryGold);
    border-radius: 0 0 1rem 1rem;
    color: var(--offWhite);
    display: flex;
    gap: .5rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    .currentChipTotal {
        align-items: center;
        background-color: var(--primaryGoldLighten);
        border-radius: .25rem;
        border: 2px solid var(--primaryGoldDarken);
        color: var(--primaryGoldDarken);
        display: flex;
        gap: .5rem;
        justify-content: center;
        padding: .5rem;
        text-align: center;
        width: 100%;

        .chipIcon {
            &::before {
                font-size: 1.25rem;
            }
        }

        p {
            font-weight: 700;
            font-size: 1.25rem;
        }
    }

    .buttonContainer {
        display: grid;
        gap: .5rem;
        grid-template-columns: 1fr 1fr;
    }
}

.container {
    padding: 1rem .5rem;

    &.dealerArea {
        background-color: var(--primaryGreenDarken50);
    }

    &.playerArea {
        background-color: var(--primaryGreenDarken);
    }

    &.playField {
        display: grid;
        gap: 1rem;
        padding: 1.5rem .5rem;

        .handDetails {
            align-items: center;
            background-color: var(--primaryGreenDarken75);
            border-radius: 5rem;
            border: 2px solid var(--primaryGreen);
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            padding: .5rem;
            text-align: center;

            div {
                border-radius: 5rem;
                font-weight: 600;
                padding: .5rem 1.5rem;

                &.sectionLabel {
                    background-color: var(--primaryGreen);
                    color: var(--offWhite);
                }

                &.sectionCardTotal {
                    background-color: var(--primaryGold);
                    color: var(--primaryGoldDarken);
                    display: flex;
                    gap: .5rem;
                    justify-content: center;
                }
            }
        }

        .cardContainer {
            align-items: center;
            justify-content: center;
            display: grid;
            gap: 1rem;
            grid-template-columns: max-content max-content;

            .card {
                background-color: var(--primaryGreenDarken75);
                border: 2px solid var(--primaryGreen);
                border-radius: .5rem;
                display: grid;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                padding: .5rem;
                min-width: 7rem;
                height: 100%;

                .playingCard {
                    align-self: stretch;
                    border-radius: .25rem;
                    padding: 2rem;
                    min-width: 6rem;
                }

                .blankCard {
                    background-color: var(--primaryGreen);
                }

                .inPlay {
                    background-color: var(--offWhite);
                }
            }
        }
    }

    &.playerActions {
        background-color: var(--offWhite);
        display: grid;
        gap: 1rem;

        .buttonContainer {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            button {
                grid-template-columns: 1fr;
                text-align: center;
                flex: 1 0 calc(50% - 1rem);
            }
        }

        .quickTips {
            align-items: center;
            background-color: var(--white);
            border: 2px solid var(--neutralGray);
            display: grid;
            gap: .5rem;
            justify-content: center;
            padding: 1rem;
            text-align: center;

            .quickTipsHeader {
                align-items: center;
                display: grid;
                gap: .5rem;
                grid-template-columns: max-content max-content;
                justify-content: center;

                .smallHeader {
                    font-family: var(--headingFontFamily);
                    font-weight: 700;
                }
            }

            strong {
                font-weight: 700;
            }
        }
    }
}